<div class="container">
    <h1 class="container-heading">List of Employees</h1>
    <div class="table-content">
        <div class="table-title">
            <div class="row">
                <div class="col">
                    <h2>Manage Employees</h2>
                </div>
                <div class="col">
                    <div class="action-btn">
                        <button mat-raised-button color="warn" (click)="delete()">
                            <span class="material-icons">remove_circle</span>Delete
                        </button>
                        <button mat-raised-button color="primary" (click)="addNew()">
                            <span class="material-icons">add_circle</span>Add New Employee
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <mat-card>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                <mat-checkbox></mat-checkbox>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of empList">
                            <td>
                                <mat-checkbox></mat-checkbox>
                            </td>
                            <td>{{emp.name}}</td>
                            <td>{{emp.email}}</td>
                            <td>{{emp.address}}</td>
                            <td>{{emp.phone}}</td>
                            <td>
                                <button mat-icon-button color="primary" (click)="addNew()">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="delete()">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card>
    </div>
</div>