.container-heading {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.table-title {
    background: #435d7d;
    color: #fff;
    padding: 8px 20px;

    h2 {
        margin-bottom: 0;
    }
}

.action-btn {
    float: right;

    button {
        margin-right: 8px;
    }
    .material-icons {
        margin-right: 4px;
    }
}