.registration-form {
  width: 360px;
  margin: 20px auto;
  .mat-card {
    padding: 0;
    border-radius: 4px;
  }
  form {
    padding: 10px 20px;
  }
  h5 {
    background-color: #33b5e5;
    border-radius: 4px 4px 0 0;
    padding: 20px 0;
    color: #fff;
  }
  .mt-20 {
    margin-top: 20px;
  }
  a {
    text-decoration: none;
  }
}

.full-width {
  width: 100%;
}
.custom-btn {
  padding: 5px;
  border-radius: 30px;
  border-color: #33b5e5;
  color: #33b5e5;
  margin: 20px auto;
}
.btn-row {
    margin-bottom: 6px;
    a {
        margin-right: 14px;
      }
}
 
.example-container .mat-form-field {
  width: 150px;
}

.hint-font {
    font-size: 14px;
    opacity: 0.8;
    text-align: center;
}
p {
    margin-bottom: 6px;
}
button:focus {
  outline: none;
}